<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xeffyr.alpine.term"
    android:installLocation="internalOnly">

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:extractNativeLibs="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/banner"
        android:label="@string/application_name"
        android:theme="@style/Theme.TermApp"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8
             mark the app with "This app is optimized to run in full screen." -->
        <meta-data android:name="android.max_aspect" android:value="10.0" />

        <activity
            android:name=".app.TerminalActivity"
            android:label="@string/application_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.LauncherPreferences"
            android:noHistory="true"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            android:parentActivityName=".app.TerminalActivity"
            android:label="@string/application_name" />

        <activity
            android:name=".app.HelpActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            android:parentActivityName=".app.TerminalActivity"
            android:resizeableActivity="true"
            android:label="@string/application_name" />

        <activity
            android:name=".app.TerminalStyleActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/StylingDialogTheme" />

        <service
            android:name=".app.TerminalService"
            android:exported="false" />

        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
    </application>
</manifest>
